@font-face {
  font-family: "Font";
  src: url("fonts/chogokubosogothic_5.ttf");
}

body {
  font-family: "Font";
  font-size: 14px;
  color: #ffffff;
  margin: 40px auto;
  background-color: #364652;
  background-image: url("images/");
  background-position: center top;
}

h5 {
  font-size: 35px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #494949;
}

.main {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-stacked {
  background-color: #757575;
}

.waifu {
  height: 350px;
}

.favorites {
  padding-left: 5%;
}